In [287]:
import pandas

In [310]:
#inputs
x = 4
months = 0.5
interest = 1.5
BTC_ETH_1 = 0.069195
USD_ETH_1 = 250

In [311]:
def calc(x,months,interest,BTC_ETH_1,USD_ETH_1,BTC_ETH_2,USD_ETH_2):
    multiplier = (1 + interest/100)**months
    int_payment = (x * USD_ETH_1) - (x * USD_ETH_1) * multiplier
    BTC_x_1 = x * BTC_ETH_1
    ETH_x_2 = BTC_x_1 / BTC_ETH_2
    ETH_p_2 = ETH_x_2 * USD_ETH_2
    ETH_p_1_2 = x * USD_ETH_2
    net_prof = ETH_p_2 - ETH_p_1_2 + int_payment
    return net_prof

In [312]:
df=pandas.read_csv('/Users/edwardhuang/Documents/python/BTC/test.csv', header=None)
df

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,NaN,0.04,0.045,0.05,0.055,0.06,0.065,0.07,0.075,0.08,0.085,0.09,0.095
1,150.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,200.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,250.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,300.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,350.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,400.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,450.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,500.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,550.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,600.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,650.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [313]:
rows = df.shape[0]
cols = df.shape[1]

In [323]:
for n in range (1,rows):
    for y in range (1,cols):
        df.iloc[n,y] = calc(x,months,interest,BTC_ETH_1,USD_ETH_1,df.iloc[0,y],df.iloc[n,0])

In [325]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,NaN,0.040000,0.045000,0.050000,0.055000,0.060000,0.065000,0.070000,0.075000,0.080000,0.085000,0.090000,0.095000
1,150.0,430.452916,315.127916,222.867916,147.382461,84.477916,31.250993,-14.372084,-53.912084,-88.509584,-119.036790,-146.172084,-170.451031
2,200.0,576.427916,422.661249,299.647916,199.000643,115.127916,44.158685,-16.672084,-69.392084,-115.522084,-156.225025,-192.405417,-224.777347
3,250.0,722.402916,530.194583,376.427916,250.618825,145.777916,57.066378,-18.972084,-84.872084,-142.534584,-193.413260,-238.638751,-279.103663
4,300.0,868.377916,637.727916,453.207916,302.237007,176.427916,69.974070,-21.272084,-100.352084,-169.547084,-230.601496,-284.872084,-333.429979
5,350.0,1014.352916,745.261249,529.987916,353.855189,207.077916,82.881762,-23.572084,-115.832084,-196.559584,-267.789731,-331.105417,-387.756295
6,400.0,1160.327916,852.794583,606.767916,405.473371,237.727916,95.789454,-25.872084,-131.312084,-223.572084,-304.977966,-377.338751,-442.082610
7,450.0,1306.302916,960.327916,683.547916,457.091552,268.377916,108.697147,-28.172084,-146.792084,-250.584584,-342.166202,-423.572084,-496.408926
8,500.0,1452.277916,1067.861249,760.327916,508.709734,299.027916,121.604839,-30.472084,-162.272084,-277.597084,-379.354437,-469.805417,-550.735242
9,550.0,1598.252916,1175.394583,837.107916,560.327916,329.677916,134.512531,-32.772084,-177.752084,-304.609584,-416.542672,-516.038751,-605.061558
10,600.0,1744.227916,1282.927916,913.887916,611.946098,360.327916,147.420224,-35.072084,-193.232084,-331.622084,-453.730908,-562.272084,-659.387873
11,650.0,1890.202916,1390.461249,990.667916,663.564280,390.977916,160.327916,-37.372084,-208.712084,-358.634584,-490.919143,-608.505417,-713.714189